:root {
  --font-family-one: "Montserrat", sans-serif;
  --font-family-two: "Comfortaa", sans-serif;
  --background-color-one: #e1a95f;
  --background-color-two: #cc7f3b;
  --background-color-three: #b87333;
  --background-color-four: #cc7722;

  --border-color-one: #d2691e;
  --border-color-two: #926644;
  --border-color-three: #996515;
  --border-color-four: #59260b;
  /* #e1a95f
  #E5AA70 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-one);
  min-height: 100vh;
  font-family: var(--font-family-one);
}

main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.img-div {
  height: 40vh;
}

.img-div img {
  max-width: 100%;
  height: 100%;
}

.img-div-big {
  display: flex;
  justify-content: end;
  align-items: end;
}

.img-div2 {
  height: 13em;
}

.img-div2 img {
  max-width: 100%;
  height: 100%;
}

.library {
  margin-top: 2em;
}

.header-icon {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 0.4em;
}

.header-icon img {
  width: 4em;
  height: 4em;
}

.header-text {
  font-size: 2rem;
  font-weight: 700;
}

.add-book-btn-div {
  display: flex;
  justify-content: end;
  align-items: end;
}

#new-book-btn {
  margin-top: 2em;
  padding: 0.4em 0.8em;
  border-radius: 0.5em;
  font-family: var(--font-family-two);
  font-size: 1rem;
  background-color: var(--background-color-two);
  border: 2px solid var(--border-color-one);
}

#new-book-btn:hover {
  background-color: var(--border-color-one);
  border: 2px solid var(--background-color-two);
  cursor: pointer;
}

.overflow-book-list {
  overflow-y: scroll;
  height: 67vh;
  margin-top: 1em;
}

.overflow-book-list::-webkit-scrollbar {
  width: 0.4em; /* width of the entire scrollbar */
}

.overflow-book-list::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

.overflow-book-list::-webkit-scrollbar-thumb {
  background-color: var(
    --background-color-three
  ); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid transparent; /* creates padding around scroll thumb */
}

#book-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.book-card {
  border: 2px solid var(--background-color-two);
  border-radius: 0.4em;
  padding: 10px;
  margin: 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.title-icon {
  display: flex;
  word-break: break-all;
}

.toggle-read-button,
.remove-button {
  padding: 0.3em;
  width: 70%;
  border-radius: 0.5em;
  background-color: var(--background-color-three);
  border: 2px solid var(--border-color-two);
}

.toggle-read-button:hover,
.remove-button:hover {
  cursor: pointer;
}

#book-form-dialog {
  background-color: var(--background-color-four);
  border: 1px solid var(--border-color-three);
  border-bottom-right-radius: 0.5em;
}

#book-form {
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  justify-content: start;
  align-items: start;
}

.label-input input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--border-color-four);
  outline: 0px;
  color: white;
  height: 1.8em;
  padding: 0 0.7em;
  /* width: 100%; */
}

.label-input input:hover {
  border-bottom: 2px solid var(--border-color-four);
  outline: 0px;
}

#book-form button {
  background-color: var(--background-color-one);
  padding: 0.5em 0.6em;
  border-radius: 0.4em;
  border: 1px solid transparent;
  font-family: var(--font-family-two);
  font-size: 1rem;
}

#book-form button:hover {
  background-color: var(--background-color-three);
  cursor: pointer;
}
